{% extends "templates/web.html" %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}
{% block page_content %}
<div class="container mt-100">
	<div class="row ai-c">
		<div class="col-12 col-sm-12 col-md-6">	
			<div class="heading text-center pb-20 mt-10">
				<h3 class="t-blue text-anim heading-title bold">{{ job_title }}</h3>
				<div class="heading-line spm-fadeinup">
					<span class="short-line"></span> <span class="long-line"></span>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-6">
			<div class="text-center mt-0 pt-0 spm-fadeinup">
				<img alt="{{ doc.get(title_field) }}" title="{{ doc.get(title_field) }}" class="img-fluid" width="50%" src="{{ doc.image }}">
			</div>
		</div>
	</div>
	{%- if description -%}
	<div class="row">
		<div class="col-md-12 text-anim">
		<h4>Job Description</h4>
			{{ description }}
		</div>
	</div>
	{% endif %}
	{%- if skills -%}
	<div class="row mt-50">
		<div class="col-md-12 text-anim">
		<h4>Key Skills</h4>
			{{ skills }}
		</div>
	</div>
	{% endif %}
</div>

<div class="container">
	<div class="button mb-50 spm-fadeinup">
		<a class="spmbutton" href='/job_application?new=1'>
			<span>{{ _("Apply Now") }}</span>
		</a>
	</div>
</div>
{% endblock %}